################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
obj
bin
.vs
/logs/*
/.vscode
/TestResults/3db78f12-4c2b-44a0-a30b-b762d2a43826
